* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;

   -ms-overflow-style: none;
   scrollbar-width: none;
}

::-webkit-scrollbar {
   display: none;
}

:root {
   --base-colour: white;
   --base-variant: rgb(230,230,230);
   --text-colour: rgb(50,50,50);
   --secondary-text-colour: rgb(0,0,0);
}

.dark-mode {
   --base-colour: rgb(30,30,30);
   --base-variant: rgb(60,60,60);
   --text-colour: rgb(255,255,255);
   --secondary-text-colour: rgb(255,255,255);
   header {
      border-bottom: 0.01px solid white;
   }
}

body {
   background-color: var(--base-colour);
   font-family: monospace;
   font-size: 18px;
   color: var(--text-colour);
}

main {
   margin: 15px;
}

.desmos iframe {
   border-radius: 15px;
   background-color: white;
   padding: 5px;
}

header {
   background-color: var(--base-colour);
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0px;
   border-bottom: 1px solid;

   p {
      font-size: 16px;
      cursor: default;
   }
}

.nav-links {
   list-style: none;
   display: inline-flex;

   li {
      display: inline;
   }

   a {
      text-decoration: none;
      color: var(--text-colour);
      font-size: 16px;
      padding: 4px 6px;
   }

   a:hover {
      text-decoration: underline;
      background-color: var(--base-variant);
      color: var(--secondary-text-colour);
      transition: all 0.2s ease 0s;
      padding: 4px 6px;
      border-radius: 5px;
   }
}

#theme-toggle {
   vertical-align: top;
   display: inline-flex;
   cursor: pointer;
}

#theme-toggle :nth-child(2), :nth-child(3), :nth-child(4) {
   display: none;
}

#theme-toggle:hover {
   :nth-child(1) {
      display: none;
   }

   :nth-child(2) {
      display: inline;
      transform: scale(1.5);
      background-color: var(--base-variant);
      padding: 2px;
      border-radius: 100px;
   }
}

.dark-mode #theme-toggle {
   :nth-child(1) {
      display: none;
   }

   :nth-child(3) {
      display: inline;
   }
}

.dark-mode #theme-toggle:hover {
   :nth-child(2) {
      display: none;
   }

   :nth-child(3) {
      display: none;
   }

   :nth-child(4) {
      display: inline;
      transform: scale(1.5);
      background-color: var(--base-variant);
      padding: 2px;
      border-radius: 100px;
   }
}

@media screen and (max-width: 550px) {
   .desmos iframe {
      width: 90vw;
      height: 90vw;
      max-width: 500px;
      max-height: 500px;
   }
}