/* ===========================
   Global Styles
   =========================== */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

   /* Hide Scroll Bar */
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* Hide Scroll Bar */
:-webkit-scrollbar {
   display: none;
}

/* ===========================
   CSS Variables
   =========================== */
:root {
   --base-colour: rgb(255, 255, 255);
   --base-variant-1: rgb(235, 235, 235);
   --base-variant-2: rgb(220, 220, 220);
   --base-variant-3: rgb(200, 200, 200);
   --secondary-text-colour: rgb(0, 0, 0);
   --text-colour: rgb(50, 50, 50);
}

.dark-mode {
   --base-colour: rgb(30, 30, 30);
   --base-variant-1: rgb(45, 45, 45);
   --base-variant-2: rgb(60, 60, 60);
   --base-variant-3: rgb(75, 75, 75);
   --secondary-text-colour: rgb(255, 255, 255);
   --text-colour: rgb(255, 255, 255);
}

/* ===========================
   Theme Toggle Styles
   =========================== */
#theme-toggle {
   background-color: var(--base-variant-1);
   border-radius: 100px;
   cursor: pointer;
   display: inline-flex;
   padding: 2px;
}

#theme-toggle:hover :nth-child(2),
.dark-mode #theme-toggle:hover :nth-child(4) {
   background-color: var(--base-variant-2);
   border-radius: 100px;
   display: flex;
   padding: 1px;
   transform: scale(1.5);
   border: 1px solid var(--base-variant-1);
   filter: drop-shadow(0px 0px 3px var(--base-variant-3));
}

#theme-toggle :nth-child(2),
#theme-toggle :nth-child(3),
#theme-toggle :nth-child(4) {
   display: none;
}

#theme-toggle:hover :nth-child(1),
.dark-mode #theme-toggle :nth-child(1),
.dark-mode #theme-toggle:hover :nth-child(2),
.dark-mode #theme-toggle:hover :nth-child(3) {
   display: none;
}

.dark-mode #theme-toggle :nth-child(3) {
   display: flex;
}

/* ===========================
   Body Styles
   =========================== */
body {
   background-color: var(--base-colour);
   color: var(--text-colour);
   font-family: monospace;
   font-size: 18px;
   transition: all 0.2s ease;
}

/* ===========================
   Header Styles
   =========================== */
header {
   align-items: center;
   background-color: var(--base-colour);
   border-bottom: 1px ridge;
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   position: sticky;
   top: 0;
   z-index: 100;
   font-size: 20px;
   cursor: default;
}

/* ===========================
   Navigation Styles
   =========================== */
.nav-links ul {
   list-style: none;
   display: inline-flex;
   align-items: center;
}

.nav-links a {
   color: var(--text-colour);
   padding: 4px 6px;
   margin-right: 10px;
   text-decoration: none;
   transition: all 0.2s ease;
}

.nav-links a:hover {
   background-color: var(--base-variant-1);
   border-radius: 5px;
   color: var(--secondary-text-colour);
   padding: 4px 6px;
   text-decoration: underline;
   transition: all 0.2s ease;
}

/* ===========================
Scroll Button Styles
=========================== */
.scroll-down,
.scroll-up {
   align-items: center;
   display: flex;
   justify-content: center;
}

.scroll-down box-icon,
.scroll-up box-icon {
   background-color: var(--base-variant-1);
   border-radius: 100px;
   bottom: 30px;
   position: fixed;
   border: 2px solid var(--base-variant-2);
   filter: drop-shadow(0px 0px 4px var(--base-variant-3));
   z-index: 100;
}

#scroll-indicator:hover box-icon,
.dark-mode #scroll-indicator:hover box-icon {
   background-color: var(--base-variant-2);
   transform: scale(1.2);
   border: 2px solid var(--base-variant-1);
   filter: drop-shadow(0px 0px 2px var(--base-variant-3));
}

#scroll-indicator :nth-child(2),
#scroll-indicator :nth-child(3),
#scroll-indicator :nth-child(4) {
   display: none;
}

#scroll-indicator:hover :nth-child(1),
.dark-mode #scroll-indicator :nth-child(1),
.dark-mode #scroll-indicator:hover :nth-child(1),
.dark-mode #scroll-indicator:hover :nth-child(3) {
   display: none;
}

#scroll-indicator:hover :nth-child(2),
.dark-mode #scroll-indicator :nth-child(3),
.dark-mode #scroll-indicator:hover :nth-child(3),
.dark-mode #scroll-indicator:hover :nth-child(4) {
   display: flex;
}

/* ===========================
   Main Content Styles
   =========================== */
main {
   margin: 15px;
   margin-bottom: 100px;
   text-align: center;
}

/* ===========================
   About Me, Experience and Feat. Projects Styles
   =========================== */
.about-me,
.experience,
.feat-projects {
   align-items: flex-start;
   display: inline-flex;
   margin-top: 50px;
}

.am-title,
.exp-title,
.fp-title {
   color: var(--secondary-text-colour);
   font-size: 24px;
   position: sticky;
   text-align: right;
   top: 70px;
   width: 200px;
}

.am-content,
.exp-content,
.fp-content {
   margin: 0 5vw;
   max-width: 40vw;
   text-align: left;
}

.fp-projects {
   display: inline-flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;

}

.project {
   width: 30vw;
   height: 30vw;
   border-radius: 20px;
   box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   text-align: center;
   transition: all 0.2s ease;
}

.project-content a {
   color: var(--text-colour);
   text-decoration: none;
}

.project:hover {
   scale: 1.1;
   transition: all 0.2s ease;
}

.project-content {
   margin: 10px;
}

/* ===========================
   Responsive Styles
   =========================== */
@media screen and (max-width: 550px) {
   .about-me,
   .experience,
   .feat-projects {
      display: grid;
      margin-top: 30px;
   }

   .am-title,
   .exp-title,
   .fp-title {
      font-size: 22px;
      position: relative;
      text-align: left;
      top: 0;
      width: fit-content;
   }

   .am-content,
   .exp-content,
   .fp-content {
      font-size: 18px;
      margin: 10px 10px;
      max-width: fit-content;
   }

   .fp-projects {
      margin: auto;
      background-color: rgba(0, 0, 0, 0);
   }

   .project {
      margin: auto;
      width: 80vw;
      height: 80vw;
   }
}