/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
   display: none;
}

 /* Hide scrollbar for IE, Edge and Firefox */
.example {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

:root {
   --base-colour: white;
   --base-variant: rgb(240,240,240);
   --text-colour: rgb(50,50,50);
   --secondary-text-colour: rgb(0,0,0);
}

.dark-mode {
   --base-colour: rgb(30,30,30);
   --base-variant: rgb(60,60,60);
   --text-colour: rgb(255,255,255);
   --secondary-text-colour: rgb(255,255,255);
}

.dark-mode header{
   border-bottom: 0.01px solid white;
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

body {
   background-color: var(--base-colour);
   font-family: monospace;
   font-size: 18px;
   color: var(--text-colour);
}

main {
   margin: 15px;
   font-size: 18px;
}

.desmos iframe {
   border-radius: 15px;
   background-color: white;
   padding: 5px;
   min-width: 400px;
}

header {
   background-color: var(--base-colour);
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0px;
   border-bottom: 1px solid;
}

header p {
   font-size: 16px;
   cursor: default;
}

.nav-links {
   list-style: none;
   display: inline-flex;
}

.nav-links li {
   display: inline;
}

.nav-links a{
   text-decoration: none;
   color: var(--text-colour);
   font-size: 16px;
   padding: 4px 6px;
}

.nav-links li a:hover {
   text-decoration: underline;
   background-color: var(--base-variant);
   color: var(--secondary-text-colour);
   transition: all 0.2s ease 0s;
   padding: 4px 6px;
   border-radius: 5px;
}

#theme-switch{
   vertical-align: top;
   display: inline-flex;
   cursor: pointer;
 }

#theme-switch :last-child{
   display: none;
}
.dark-mode #theme-switch :first-child{
   display: none;
}
.dark-mode #theme-switch :last-child{
   display:inline
}

.thing {
   position: fixed;
   top: 20px;
   right: 20px;
   scale: 5%;
}